
! URxvt*scrollBar: false
URxvt*font: xft:Monaco for Powerline:size=8
! URxvt*font: xft:Input Mono Compressed:size=9
! URxvt*font: xft:PragmataPro:size=10
URxvt*depth: 32

URxvt.perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt.url-select.launcher:  google-chrome-unstable
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search

! special
*.foreground:   #e0e0e0
*.background:   #2c3e50
*.cursorColor:  #e0e0e0

! black
*.color0:       #2c3e50
*.color8:       #95a5a6

! red
*.color1:       #e74c3c
*.color9:       #e67e22

! green
*.color2:       #2ecc71
*.color10:      #34495e

! yellow
*.color3:       #f1c40f
*.color11:      #7f8c8d

! blue
*.color4:       #3498db
*.color12:      #bdc3c7

! magenta
*.color5:       #9b59b6
*.color13:      #f5f5f5

! cyan
*.color6:       #1abc9c
*.color14:      #be643c

! white
*.color7:       #e0e0e0
*.color15:      #ecf0f1



ntialias: true
Xft.autohint: false
Xft.dpi: 96
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
